$grid-width-primary:         100%;
$grid-width-secondary:       1440px;
$color-title-primary:      #01a2a6;
$color-title-secondary:    #29d9c2;
$color-bg-destination:     #f2fefe;
$color-bg-contact:         #2bafad;
$color-bg-footer:          #2f2933;
$color-text:               #777777;
$font-secondary:             'Bitter', serif;
$font-primary:               'Lato', sans-serif;
$font-company:               'Montserrat', sans-serif;  